
.contactWrapper {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0;
}




.cSection {
  width: 50%;
  
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cSection:last-child {
  background-color: rgba(2, 2, 45, 0.187);
  padding: 50px;
  border-radius: 50% 0px;
}


form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(2, 2, 45, 0.066);
  padding: 50px;
  border-radius: 50px;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
}

.formButton {
  background-color: #dd4c62;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }

  .cSection:first-child {
    height: 70%;
  }
  .cSection:last-child {
    height: 30%;
  }
}
.contactBottom {
  margin-top: 80px;
  padding: 60px 20px;
  background: linear-gradient(135deg, #f8f9ff, #ffffff);

  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* Align left */
  justify-content: flex-start; /* Align top */
  text-align: left;
}



.contactBottom p {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  max-width: 800px;
}



.success {
  color: #4caf50;
  display: block;
  margin-top: 1px;
}

.error {
  color: red;
  display: block;
  margin-top: 10px;
}
.contactRow {
  display: flex;
  gap: 100px;
}

.contact {
  padding: 100px 0;
}

.contactWrapper {
  width: 100%;
}
